/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}


.logo{
    width:10%;
}




/* Estilos para la sección de subida */
.upload-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#fileInput {
    display: none;
}

label[for="fileInput"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#uploadButton {
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

/* Estilos para la visualización de carpetas y archivos (puedes personalizarlos según tu diseño) */
.folders {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.folder {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.file {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-preview {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}

/* Otros estilos */
