/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.logo{
    width:10%;
}

/* Carpetas */


.folders {
    text-align: center;
    width: 80vh;
    height: 80px;
    margin-top:10px;
    border-radius: 40px; /* Ajusta este valor para cambiar el grado de redondez */
  }

/* Cambio de color en :hover */
.folders:hover {
    transform: scale(1.05); /* Escalado suave */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Sombra más prominente */
}

/* Colores individuales generados */
.folders:nth-child(1) { background-color: var(--folder-color-1); }
.folders:nth-child(2) { background-color: var(--folder-color-2); }
.folders:nth-child(3) { background-color: var(--folder-color-3); }
.folders:nth-child(4) { background-color: var(--folder-color-4); }
.folders:nth-child(5) { background-color: var(--folder-color-5); }
.folders:nth-child(6) { background-color: var(--folder-color-6); }
.folders:nth-child(7) { background-color: var(--folder-color-7); }

/* Variables de colores individuales */
:root {
    --folder-color-1: green;
    --folder-color-2: orange;
    --folder-color-3: purple;
    --folder-color-4: yellow;
    --folder-color-5: blue;
    --folder-color-6: red;
    --folder-color-7: pink;
}

